# Dependencies
node_modules/
/node_modules
/.pnp
.pnp.js

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
/Frontend/.next/
/Frontend/out/
/Frontend/build
.next/
out/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production
/build
/dist

# Testing
/coverage

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# misc
.DS_Store
*.pem
Thumbs.db

# Local Files
*.log
.env*.local

# Backend specific
/Backend/node_modules
/Backend/.env
/Backend/dist
/Backend/coverage

# Frontend specific
/Frontend/node_modules
/Frontend/.env
/Frontend/.next
/Frontend/build
/Frontend/.vercel
/Frontend/.env*.local